@charset "UTF-8";
/*RESET.CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END RESET.CSS*/
body {
  font-family: "Montserrat", sans-serif;
  color: #535353;
  background-color: #FCFCFC;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.first-container {
  background-color: #0C0537;
}

.center {
  max-width: 1285px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  padding-right: 84px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  /* margin-right: 9px; */
}

header .menu li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
}

header .menu li:first-child a {
  margin: 0;
}

header .menu li:active a {
  font-weight: 700;
}

header .menu li:nth-child(6) a {
  font-weight: 700;
  color: #FFC94F;
}

header .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .plus img {
  padding-left: 12px;
}

.first-container header .envelope {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-container header .envelope img {
  -o-object-fit: contain;
     object-fit: contain;
}

.first-container header .envelope span {
  margin-left: 8px;
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
  /* margin-right: 12px; */
}

.first-container a {
  text-decoration: none;
  color: #ffffff;
}

.first-container header .call {
  border: solid 1px #ffffff;
  padding: 13px 23px 14px 31px;
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
}

.first-container header .call img {
  padding-right: 12px;
  -o-object-fit: contain;
     object-fit: contain;
}

.second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
}

.second-container .left-side {
  width: 40%;
  margin-top: 109px;
  margin-right: 71px;
}

.centr-left {
  margin: 0 0 0 calc((100% - 1285px)/2);
}

.second-container .left-side h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  padding-bottom: 8px;
}

.second-container .left-side h1 span {
  color: #FFC94F;
}

.second-container .left-side p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 21px;
}

.second-container .right-side .slash {
  margin: 0;
  bottom: -29px;
}

.second-container .right-side .slash .color {
  background-color: #FFC94F;
  width: 33%;
  text-indent: 0;
}

.second-container .right-side .test-prev {
  position: absolute;
  /* bottom: 0; */
  top: 90%;
  left: -40px;
  background: #ffffff;
  width: 32px;
  height: 27px;
  border: 1px solid #EDEDED;
}

.second-container .right-side .test-prev .test-icon {
  background-image: url("../images/Arrow right.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-size: auto;
  width: 100%;
  height: 100%;
}

.second-container .right-side .test-prev:hover .test-icon {
  background: #3D4F64;
  background-image: url("../images/Arrow white left.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: none;
          transform: none;
}

.second-container .right-side .test-past {
  position: absolute;
  /* bottom: 0; */
  top: 98%;
  left: -40px;
  background: #ffffff;
  width: 32px;
  height: 27px;
  border: 1px solid #EDEDED;
}

.second-container .right-side .test-past .past-icon {
  background-image: url("../images/Arrow right.svg");
  background-size: auto;
  width: 100%;
  height: 100%;
}

.second-container .right-side .test-past:hover .past-icon {
  background: #3D4F64;
  background-image: url("../images/Arrow white left.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  padding: 13px 55px;
  background-color: #FFC94F;
  border-radius: 2px;
  display: inline-block;
}

.button a {
  text-decoration: none;
  color: #535353;
  line-height: 17px;
  font-size: 14px;
  font-weight: 700;
}

.second-container .right-side {
  width: 70%;
}

.second-container .right-side .pose {
  -o-object-fit: cover;
     object-fit: cover;
  height: 448px;
}

.catalog__main {
  margin-top: 88px;
}

.catalog__main h1, .services h1, .new__goods h1 {
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 64px;
}

.catalog__main h1::before, .services h1::before, .new__goods h1::before {
  content: " ";
  background: #FFC94F;
  width: 5px;
  height: 25px;
  float: left;
  margin-right: 15px;
  margin-top: 8px;
}

.catalog__main .catalog__main-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__main .catalog__main-left {
  width: 23%;
  max-width: 287px;
}

.catalog__main .catalog__main-left a {
  text-decoration: none;
  color: #535353;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
}

.catalog__main .catalog__main-left a:first-child {
  margin-bottom: 11px;
}

.catalog__main .catalog__main-left a:active {
  color: #FFC94F;
  font-size: 16px;
  line-height: 24px;
}

.catalog__main .catalog__main-left a:last-child {
  margin-bottom: 150px;
}

.catalog__main .catalog__main-left p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 21px;
}

.catalog__main .catalog__main-left .button2 {
  padding: 13px 69px;
  line-height: 17px;
  background-color: #3D4F64;
  color: #ffffff;
  margin-bottom: 46px;
}

.catalog__main .catalog__main-left hr {
  color: #E5E5E5;
  margin-bottom: 14px;
}

.catalog__main .catalog__main-right {
  display: -ms-grid;
  display: grid;
  width: 77%;
  background-image: url("../images/catalog.jpg");
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 518px;
  background-size: cover;
  margin-left: 18px;
}

.catalog__main .catalog__main-right div {
  border: solid 12px #FCFCFC;
}

.catalog__main .catalog__main-right .box1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ span 2;
  position: relative;
}

.catalog__main .catalog__main-right p {
  position: absolute;
  bottom: 0;
  padding: 5px 20px 5px 24px;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
}

.catalog__main .catalog__main-right p:hover {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(243, 168, 0, 0.2);
          box-shadow: 0px 4px 10px 0px rgba(243, 168, 0, 0.2);
}

.catalog__main .catalog__main-right p a {
  padding-left: 102px;
}

.catalog__main .catalog__main-right .box3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  position: relative;
}

.catalog__main .catalog__main-right .box2, .catalog__main .catalog__main-right .box4 {
  position: relative;
}

.services {
  margin-top: 69px;
}

.new__goods {
  margin-top: 90px;
}

.new__goods .goods {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new__goods .goods .goods-example {
  width: 302px;
  background-color: #ffffff;
  border: solid 1px #EAEAEA;
  margin-bottom: 81px;
}

.new__goods .goods .goods-example:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #FFC94F4D;
          box-shadow: 0px 0px 30px 0px #FFC94F4D;
}

.new__goods .goods .goods-example:hover .summa {
  color: #FFC94F;
  background-image: url("../images/rublyellow.png");
}

.new__goods .goods .goods-example:hover .goods-bottom {
  background-color: #EFEFEF;
}

.new__goods .goods .goods-example .day {
  padding: 3px 14px;
  background-color: #FFC94F;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.new__goods .goods .goods-example .first-pic {
  margin-right: 26px;
  margin-left: 20px;
}

.new__goods .goods .goods-example .first-pic img {
  max-width: 100%;
  /* height: auto; */
  display: inline-block;
  margin-top: 52px;
  margin-bottom: 44px;
  height: 181px;
  -o-object-fit: contain;
     object-fit: contain;
}

.new__goods .goods h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding-bottom: 13px;
}

.new__goods .goods .goods-example li {
  list-style: disc;
  color: #FFC94F;
}

.new__goods .goods .goods-example li span {
  color: #535353;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.new__goods .goods .goods-example .summa {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  background-image: url("../images/rubl.png");
  background-repeat: no-repeat;
  background-position: right center;
  width: 85px;
  margin-top: 16px;
  margin-bottom: 58px;
}

.new__goods .goods .goods-example .goods-bottom {
  width: 100%;
  margin: 0;
  border-top: solid 1px #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__goods .goods .goods-example .goods-bottom .button3 {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 25px 76px;
  font-weight: 600;
  background-color: #3D4F64;
}

.new__goods .goods .goods-example .goods-bottom .plus_goods {
  width: 100%;
  text-align: center;
}

.new__goods .goods .goods-example .goods-bottom img {
  margin: 0;
}

.new__goods .goods .goods-example .second-pic {
  margin-left: 21px;
  margin-right: 20px;
}

.new__goods .goods .goods-example .second-pic img {
  width: 100%;
  display: inline-block;
  height: 181px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 52px;
  margin-bottom: 44px;
}

.new__goods .button4 {
  text-align: center;
  margin-bottom: 34px;
}

.new__goods .button4 a {
  display: inline-block;
  line-height: 17px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  padding: 14px 36px;
  text-decoration: none;
  color: #535353;
  background-color: #FFC94F;
  border-radius: 2px;
}

.download {
  margin-top: 34px;
  background-image: url(../images/file.png);
  background-repeat: no-repeat;
  background-position-x: calc((100% - 1285px)/2);
}

.download .download-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.download .download-form .download-left {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  padding-top: 61px;
  width: 33%;
}

.download .download-form .download-right {
  padding-top: 39px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  width: 100%;
  /* max-width: 896px; */
  line-height: 45px;
  font-size: 14px;
  overflow-y: scroll;
  height: 177px;
  padding-right: 56px;
}

.download .download-form .download-right::-webkit-scrollbar {
  width: 1px;
  /* ширина для вертикального скролла */
  background-color: #EFEFEF;
}

.download .download-form .download-right::-webkit-scrollbar-thumb {
  background-color: #FFC94F;
  border-radius: 2px;
  height: 5px;
}

.download .download-form .download-right .download-info {
  border-bottom: solid 1px;
  font-style: normal;
  font-weight: 500;
  /* &:nth-child(5){    
                         opacity: 30%;
                    }  */
}

.download .download-form .download-right div:nth-child(5) {
  opacity: 30%;
}

.download .download-form .download-right div:nth-child(6) {
  opacity: 30%;
}

.download .download-form .download-right .download-file {
  border-bottom: solid 1px;
  text-align: end;
}

.download .download-form .download-right .download-file a {
  text-decoration: none;
  color: #535353;
  font-weight: 700;
}

.download .download-form .download-right .download-file .download-look {
  padding-right: 20px;
}

.download .download-form .download-right .download-file .download-look:hover {
  color: #FFC94F;
}

.download .download-form .download-right .download-file img {
  padding-left: 12px;
}

/* .download .download-form .download-right:last-child .download-info{
    opacity: 30%;
} */
.question {
  width: 100%;
  max-width: 958px;
  margin: 0 auto;
  /* margin-right: 549px; */
  margin-top: 20px;
  margin-bottom: 98px;
}

.question .question-form {
  background-image: url(../images/ask.png);
  background-repeat: no-repeat;
  /* height: 258px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.question .question-form .feedback-left {
  width: 50%;
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  text-align: end;
  padding-top: 56px;
}

.question .question-form .feedback-right {
  width: 50%;
  padding-top: 32px;
  padding-left: 114px;
}

.question .question-form .feedback-right input, .question .question-form .feedback-right textarea {
  /* не понимаю зачем эти свойства*/
  width: 100%;
  border: none;
  background: #FCFCFC;
  padding: 0;
}

.question .question-form .feedback-right input, .question .question-form .feedback-right textarea {
  margin: 0;
  padding-top: 23px;
  border-bottom: solid 1px #EFEFEF;
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
}

.question .question-form .feedback-right textarea {
  margin-bottom: 40px;
}

.question .question-form .feedback-right .button0 {
  text-align: end;
}

.question .question-form .feedback-right .button0 input {
  border: none;
  text-align: end;
  padding: 0;
  line-height: 17px;
  font-size: 14px;
  font-weight: 700;
  color: #535353;
  width: auto;
  background-color: #FFC94F;
  padding: 13px 66px;
}

.last-container {
  background-color: #3D4F64;
}

.last-container .basement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 51px;
  width: 100%;
  color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 301px;
}

.last-container .basement .logo2 {
  width: 25%;
}

.last-container .basement .goods {
  width: 25%;
}

.last-container .basement .inform {
  width: 25%;
}

.last-container .basement .contact {
  width: 25%;
}

.last-container .basement .logo2 a {
  padding-bottom: 24px;
  display: inline-block;
}

.last-container .basement .logo2 div {
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
}

.last-container .basement .goods ul {
  list-style-type: none;
  /*почему появились диски?*/
}

.last-container .basement .goods ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.last-container .basement .goods ul li:first-child {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 7px;
  display: inline-block;
}

.last-container .basement .goods ul li:hover a {
  color: #FFC94F;
  text-decoration: underline;
}

.last-container .basement .inform ul {
  list-style-type: none;
  /*почему появились диски?*/
}

.last-container .basement .inform ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}

.last-container .basement .contact ul {
  list-style-type: none;
}

.last-container .basement .contact ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

.last-container .basement .contact ul li:first-child {
  font-weight: 600;
}

.last-container .basement .contact ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.services .accordion-item {
  margin-left: 130px;
  position: relative;
}

.services .accordion-item:first-child::before {
  content: url("../images/icon1.png");
  position: absolute;
  left: -100px;
  top: 20px;
}

.services .accordion-item:nth-child(2)::before {
  content: url("../images/icon2.png");
  position: absolute;
  left: -100px;
  top: 20px;
}

.services .accordion-item:nth-child(3)::before {
  content: url("../images/icon3.png");
  position: absolute;
  left: -100px;
  top: 20px;
}

.services .accordion-item:nth-child(4)::before {
  content: url("../images/icon4.png");
  position: absolute;
  left: -100px;
  top: 20px;
}

.services .accordion-item:nth-child(5)::before {
  content: url("../images/icon5.png");
  position: absolute;
  left: -100px;
  top: 20px;
}

.services .accordion-item .crest {
  background-color: #FCFCFC;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  padding-left: 0;
  /* не отрабатывает почему-то */
}

.services .accordion-item .crest:not(.collapsed) {
  color: #535353;
}

.services .accordion-item .crest:not(.collapsed)::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.services .crest::after {
  background-image: url("../images/cres1.png");
  background-size: auto;
}

.services .color_boby {
  background-color: #FCFCFC;
}

.services .inside {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#burger {
  display: none;
}

#burger i {
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px;
  background-color: #FFC94F;
}

#close {
  display: none;
  right: 20px;
  position: fixed;
  z-index: 4;
}

#close i {
  font-size: 30px;
  color: #FFC94F;
}

@media screen and (max-width: 1399.98px) {
  .first-container header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-container header .envelope span {
    display: none;
  }
  .first-container header .call {
    padding: 13px 20px 14px 20px;
  }
  .center {
    width: 90%;
  }
  .second-container .left-side {
    width: 50%;
    margin-left: 5%;
  }
  .new__goods .goods {
    width: 100%;
  }
  .new__goods .goods .goods-example {
    position: relative;
    width: 32%;
    padding-bottom: 58px;
  }
  .new__goods .goods .goods-example .goods-bottom {
    position: absolute;
    bottom: 0;
  }
  .new__goods .goods .goods-example .goods-bottom .button3 {
    padding: 25px 27%;
  }
  .catalog__main .catalog__main-all .catalog__main-left .button2 {
    text-align: center;
  }
  .download {
    background-position-x: 0;
  }
  .download .download-form .download-left {
    padding-right: 20px;
    width: 40%;
  }
}

@media screen and (max-width: 1199.98px) {
  .first-container header .call {
    padding: 0;
    border: none;
  }
  .first-container header .call img {
    padding: 0;
  }
  .first-container header .call a {
    display: none;
  }
  .second-container .left-side {
    width: 40%;
  }
  .catalog__main .catalog__main-all .catalog__main-left {
    width: 100%;
  }
  .catalog__main .catalog__main-all .catalog__main-right p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .catalog__main .catalog__main-all .catalog__main-right p a {
    padding-left: 0;
  }
  .services .accordion-item {
    margin-left: 100px;
    position: relative;
  }
  .new__goods .goods .goods-example {
    width: 32%;
  }
  .question {
    width: 90%;
  }
  .question .question-form .feedback-left {
    width: 40%;
  }
  .question .question-form .feedback-right {
    padding-left: 50px;
    width: 60%;
  }
}

@media screen and (max-width: 991.98px) {
  .first-container header {
    position: relative;
    /*  .call{
                display: none;
            } */
  }
  .first-container header .logo {
    padding: 0;
  }
  .first-container header .menu {
    display: none;
    /* opacity: 0;
                bottom:-100%;
                transition: 1s ease-in-out; */
  }
  .first-container header .show {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    /* opacity: 1;
                transition: 1s ease-in-out;
                bottom: 0; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%;
    text-align: center;
    background: #0C0537;
    top: 0;
    height: 70vh;
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    /* padding-bottom: 20%;
                padding-top: 5%; */
    max-width: 100%;
  }
  .first-container header .show li a {
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
  }
  .first-container header .show li:nth-child(7) {
    padding-top: 4%;
    border-top: solid 1px #535353;
    width: 100%;
  }
  .first-container header .envelope_show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    z-index: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 39%;
    padding-right: 0;
  }
  .first-container header .envelope_show span {
    display: block;
    margin-right: 0;
  }
  .first-container header .call_show {
    border: solid 1px #ffffff;
    padding: 13px 23px 14px 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    z-index: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 43%;
    padding-left: 0;
  }
  .first-container header .call_show img {
    padding-right: 12px;
    padding-left: 29px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .first-container header .call_show a {
    display: block;
  }
  .first-container header #burger {
    display: block;
  }
  /* .center{
        width: 95%;
    } */
  .second-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .second-container .left-side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 95%;
    margin: 0 auto;
    padding-top: 40px;
  }
  .second-container .right-side {
    width: 95%;
    margin: 0 auto;
  }
  .second-container .right-side img {
    max-height: 400px;
  }
  .second-container .right-side .slash {
    display: none;
  }
  .second-container .right-side .test-prev {
    display: none;
  }
  .second-container .right-side .test-past {
    display: none;
  }
  .catalog__main {
    margin-top: 60px;
  }
  .catalog__main h1 {
    margin-bottom: 30px;
  }
  .catalog__main h1::before {
    display: none;
  }
  .catalog__main .catalog__main-left {
    max-width: 100%;
  }
  .catalog__main .catalog__main-left .button2 {
    margin-bottom: 10px;
  }
  .catalog__main .catalog__main-left a:last-child {
    margin-bottom: 30px;
  }
  .catalog__main .catalog__main-right {
    display: none;
  }
  .services h1::before {
    display: none;
  }
  .services .accordion-item {
    border-bottom: none;
  }
  .services .accordion-item .crest::after {
    display: none;
  }
  .new__goods h1::before {
    display: none;
  }
  .new__goods .goods .goods-example {
    width: 45%;
  }
  .download {
    background-image: none;
    margin-top: 50px;
  }
  .download .download-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .download .download-form .download-left {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
  }
  .download .download-form .download-right {
    padding: 0;
  }
  .download .download-form .download-right::-webkit-scrollbar {
    display: none;
  }
  .question .question-form {
    background-image: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .question .question-form .feedback-left {
    width: 100%;
    text-align: start;
  }
  .question .question-form .feedback-right {
    padding-top: 10px;
    width: 100%;
    padding-left: 0;
  }
  .question .question-form .feedback-right .button0 {
    text-align: center;
  }
  .last-container {
    position: relative;
  }
  .last-container .basement {
    height: auto;
  }
  .last-container .basement .logo2 {
    width: 50%;
  }
  .last-container .basement .goods {
    width: 50%;
    padding-bottom: 30px;
  }
  .last-container .basement .inform {
    width: 50%;
  }
  .last-container .basement .contact {
    width: 50%;
  }
}

@media screen and (max-width: 767.98px) {
  .download .download-form .download-right .download-file span {
    display: none;
  }
  .second-container .right-side img {
    max-height: 350px;
  }
  .new__goods .goods .goods-example {
    width: 48%;
  }
  .new__goods .goods .goods-example .goods-bottom .button3 {
    padding: 25px 25%;
  }
}

@media screen and (max-width: 575.98px) {
  .second-container .left-side h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .second-container .right-side img {
    max-height: 275px;
  }
  .catalog__main h1 {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  .catalog__main .catalog__main-all .catalog__main-left .button2 {
    margin: 0;
  }
  .services h1 {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .services .accordion-item {
    margin-left: 75px;
  }
  .services .accordion-item:first-child::before {
    left: -70px;
  }
  .services .accordion-item:nth-child(2)::before {
    left: -70px;
  }
  .services .accordion-item:nth-child(3)::before {
    left: -70px;
  }
  .services .accordion-item:nth-child(4)::before {
    left: -70px;
    top: 5px;
  }
  .services .accordion-item:nth-child(5)::before {
    left: -70px;
  }
  .services .accordion-item .crest {
    font-size: 14px;
    line-height: 22px;
  }
  .new__goods h1 {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .new__goods .goods .goods-example {
    width: 100%;
  }
  .download .download-form .download-left {
    font-size: 18px;
    line-height: 40px;
  }
  .download .download-form .download-right {
    font-size: 14px;
    line-height: 26px;
  }
  .download .download-form .download-right .download-info {
    border-bottom: none;
  }
  .download .download-form .download-right .download-file {
    border-bottom: none;
  }
  .last-container {
    padding-bottom: 65px;
  }
  .last-container .basement {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .last-container .basement .logo2 {
    width: 100%;
  }
  .last-container .basement .logo2 div {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    border-top: solid 1px;
    padding-top: 10px;
  }
  .last-container .basement .goods {
    width: 45%;
  }
  .last-container .basement .inform {
    width: 45%;
  }
  .last-container .basement .contact {
    width: 100%;
  }
  .last-container .basement .contact ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .last-container .basement .contact ul li:first-child {
    width: 100%;
  }
  .last-container .basement .contact ul li:nth-child(2) {
    width: 50%;
  }
  .last-container .basement .contact ul li:nth-child(3) {
    width: 50%;
    text-align: end;
  }
  .last-container .basement .contact ul li:last-child {
    width: 100%;
    text-align: center;
  }
  .question .question-form .feedback-left {
    font-size: 18px;
    line-height: 40px;
  }
  .question .question-form .feedback-right .button0 {
    background-color: #FFC94F;
  }
}

@media screen and (max-width: 375px) {
  .second-container .right-side img {
    max-height: 185px;
  }
}
/*# sourceMappingURL=style1.css.map */