/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/*END RESET.CSS*/
$color_text: #535353;
$background_color: #FCFCFC;
$font: 'Montserrat', sans-serif;
$color_menu: #ffffff;
$color_orange: #FFC94F;
@mixin a_menu($color_menu){
    text-decoration: none;
    color: $color_menu;
    
}
@mixin a_button($color_text){
    text-decoration: none;
    color: $color_text;
}
@mixin text_menu() {
    line-height: 17px;
    font-size: 14px;
    font-weight: 500;
}
@mixin button_text() {
    line-height: 17px;
    font-size: 14px;
    font-weight: 700;
}
body{
    font-family: $font;
    color: $color_text;
    background-color: $background_color;
}
.wrapper{
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
.first-container{
    background-color: #0C0537;
}
.center{
   max-width: 1285px;
   width: 100%;
   margin: 0 auto;
} 
header{  
    display: flex;
    height: 70px;
    align-items: center;
}
header .logo{
    padding-right: 84px;
    align-self: flex-start;
}
header .menu{
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    /* margin-right: 9px; */
}
header .menu li a{
    @include a_menu($color_menu);
    @include text_menu();
}
header .menu li:first-child a{
    
    margin:0;
}
header .menu li:active a{
    font-weight: 700;
}
header .menu li:nth-child(6) a{
    font-weight: 700;
    color:$color_orange;
   
}
header .plus{
    display: flex;
    align-items: center;
    img{
        padding-left: 12px;
    }   
}
.first-container{
    header{
        .envelope {
            display: flex;
            img{
                object-fit: contain;
            }
            span{
                margin-left: 8px;
                @include text_menu();
                /* margin-right: 12px; */
            }
        }
    }
}
.first-container a{
    @include a_menu($color_menu);
    
    
}
.first-container{ 
    header{
        .call{
            border: solid 1px $color_menu;
            padding: 13px 23px 14px 31px;
            @include text_menu();
            img{
                padding-right: 12px;
                object-fit: contain;
            }
        }
    }
}
.second-container{
    display: flex;
    margin-right: 0;
}
.second-container .left-side{
    width: 40%;
    margin-top: 109px;
    margin-right: 71px;
}
.centr-left{
    margin:0 0 0 calc((100% - 1285px)/2);
}
.second-container .left-side h1{
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;

}
.second-container .left-side h1 span{
    color: $color_orange;
}
.second-container .left-side p{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 21px;
}
.second-container{
    .right-side{
        .slash{
            margin:0;
            bottom:-29px;
            .color{
                background-color: $color_orange;
                width: 33%;
                text-indent: 0;
            }
        }
        .test-prev{
            position: absolute;
            /* bottom: 0; */
            top: 90%;
            left: -40px;
            background: $color_menu;
            width: 32px;
            height: 27px;
            border: 1px solid #EDEDED;
            .test-icon{
                background-image: url('../images/Arrow_right.svg');
                transform: rotate(180deg);
                background-size: auto;
                width: 100%;
                height: 100%;
            }
                &:hover .test-icon{
                    background: #3D4F64;
                    background-image: url('../images/Arrow_white_left.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    transform: none;
                }
            
        }
        .test-past{
            position: absolute;
            /* bottom: 0; */
            top: 98%;
            left: -40px;
            background: $color_menu;
            width: 32px;
            height: 27px;
            border: 1px solid #EDEDED;
            .past-icon{
                background-image: url('../images/Arrow_right.svg');
                background-size: auto;
                width: 100%;
                height: 100%;
                
                
            }
            &:hover .past-icon{
                background: #3D4F64;
                background-image: url('../images/Arrow_white_left.svg');
                transform: rotate(180deg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
.button{
    padding: 13px 55px;
    background-color: $color_orange;
    border-radius: 2px;
    display: inline-block;
}
.button a{
    @include a_button($color_text);
    @include button_text();
    
}
.second-container .right-side{
    width: 70%;

}
.second-container .right-side .pose{
    object-fit: cover;
    height: 448px;
}
.catalog__main{
    margin-top: 88px;
}

.catalog__main h1, .services h1, .new__goods h1{
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 64px;
}
.catalog__main h1::before, .services h1::before, .new__goods h1::before {
    content: " ";
    background: $color_orange;
    width: 5px;
    height: 25px;
    float: left;
    margin-right: 15px;
    margin-top: 8px;
}
.catalog__main .catalog__main-all{
    display: flex;
}
.catalog__main .catalog__main-left{
    width: 23%;
    max-width: 287px;
}
.catalog__main .catalog__main-left a{
    @include a_button($color_text);
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    
}
.catalog__main .catalog__main-left a:first-child{
    margin-bottom: 11px;  
}
.catalog__main .catalog__main-left a:active{
    color: $color_orange;
    font-size: 16px;
    line-height: 24px;
}
.catalog__main .catalog__main-left a:last-child{
    margin-bottom: 150px;
}
.catalog__main .catalog__main-left p{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 21px;

}
.catalog__main .catalog__main-left .button2{
    padding: 13px 69px;
    line-height: 17px;
    background-color: #3D4F64;
    color: $color_menu;
    margin-bottom: 46px;
}
.catalog__main .catalog__main-left hr{
    color: #E5E5E5;
    margin-bottom: 14px;
}
.catalog__main .catalog__main-right{
    display: grid;
    width: 77%;
    background-image: url("../images/catalog.jpg");
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 518px;
    background-size: cover;
    margin-left: 18px;
}
.catalog__main .catalog__main-right div{
    border: solid 12px $background_color;
}
.catalog__main .catalog__main-right .box1{
    grid-row: 1/ span 2;
    position: relative;
    
}
.catalog__main .catalog__main-right p{
    position: absolute;
    bottom: 0;
    padding: 5px 20px 5px 24px;
    background-color: rgba(255, 255, 255, 1);  
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
}
.catalog__main .catalog__main-right p:hover{
    box-shadow: 0px 4px 10px 0px rgba(243, 168, 0, 0.2);

}
.catalog__main .catalog__main-right p a{
    padding-left: 102px;
}
.catalog__main .catalog__main-right .box3{
    grid-column-start: 3;
    grid-row: 1 / span 2;
    position: relative;
}
.catalog__main .catalog__main-right .box2, .catalog__main .catalog__main-right .box4{
    position: relative;
}
.services{
    margin-top: 69px;
}
.new__goods{
    margin-top: 90px;
}
.new__goods .goods{
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.new__goods .goods .goods-example{
    width: 302px;
    background-color: $color_menu;
    border:solid 1px #EAEAEA;
    margin-bottom: 81px;

}
.new__goods .goods .goods-example:hover{
    box-shadow: 0px 0px 30px 0px #FFC94F4D;
}

.new__goods .goods .goods-example:hover .summa{
    color:$color_orange;
    background-image: url('../images/rublyellow.png');
}
.new__goods .goods .goods-example:hover .goods-bottom{
    background-color: #EFEFEF;
    
}
.new__goods .goods .goods-example .day{
    padding: 3px 14px;
    background-color: $color_orange;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

}
.new__goods .goods .goods-example .first-pic{
    margin-right: 26px;
    margin-left: 20px;
}
.new__goods .goods .goods-example .first-pic img{
    max-width: 100%;
    /* height: auto; */
    display: inline-block;
    margin-top: 52px;
    margin-bottom: 44px; 
    height: 181px ;
    object-fit: contain;
}
.new__goods .goods h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 13px;
}
.new__goods .goods .goods-example li{
    list-style: disc;
    color: $color_orange;
} 
.new__goods .goods .goods-example li span{
    color: $color_text;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;

}
.new__goods .goods .goods-example .summa{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    background-image: url('../images/rubl.png');
    background-repeat: no-repeat;
    background-position: right center;
    width: 85px;
    margin-top: 16px;
    margin-bottom: 58px;
    
}
.new__goods .goods .goods-example .goods-bottom{
    width: 100%;
    margin: 0;
    border-top:solid 1px #EAEAEA;
    display: flex;
    align-items: center;
}
.new__goods .goods .goods-example .goods-bottom .button3{
    text-decoration: none;
    color:$color_menu;
    font-size: 14px;
    padding:25px 76px;
    font-weight: 600;
    background-color: #3D4F64;
    

}
.new__goods .goods .goods-example .goods-bottom .plus_goods{
    width: 100%;
    text-align: center;
}
.new__goods .goods .goods-example .goods-bottom img{
    margin: 0;
    
}
.new__goods .goods .goods-example .second-pic{
    margin-left: 21px;
    margin-right: 20px;
}
.new__goods .goods .goods-example .second-pic img{
    width: 100%;
    display: inline-block;
    height: 181px ;
    object-fit: contain;
    margin-top: 52px;
    margin-bottom: 44px; 
}
.new__goods .button4{
    text-align: center;
    margin-bottom: 34px;
}
.new__goods .button4 a{
    display: inline-block;
    @include button_text();
    font-style: normal;
    padding: 14px 36px;
    @include a_button($color_text);
    background-color: $color_orange;
    border-radius: 2px;
}
.download{
    margin-top: 34px;
    background-image: url(../images/file.png);
    background-repeat: no-repeat;  
    background-position-x: calc((100% - 1285px)/2);
        .download-form{
            display: flex;
            width: 100%;
            .download-left{
                font-size: 20px;
                font-weight: 800;
                line-height: 24px;
                padding-top: 61px;
                width: 33%;
            }
            .download-right{
                padding-top: 39px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(3, 1fr);
                width: 100%;
                /* max-width: 896px; */
                line-height: 45px;
                font-size: 14px;
                overflow-y: scroll;
                height: 177px;
                padding-right: 56px;
                &::-webkit-scrollbar {
                    width: 1px; /* ширина для вертикального скролла */
                    background-color: #EFEFEF;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $color_orange;
                    border-radius: 2px;
                    height: 5px;
                    
                }
                .download-info{
                    border-bottom: solid 1px;
                    font-style: normal;
                    font-weight: 500;
                    /* &:nth-child(5){    
                         opacity: 30%;
                    }  */
                    
                }
                div{
                    &:nth-child(5){
                        opacity: 30%;
                    }
                }
                div{
                    &:nth-child(6){
                        opacity: 30%;
                    }
                }
                .download-file{
                    border-bottom: solid 1px;
                    text-align: end;
                    a{
                        @include a_button($color_text);
                        font-weight: 700;   
                    }
                    .download-look{
                        padding-right: 20px;
                        &:hover{
                           color: $color_orange;
                        }
                    }
                    img{
                        padding-left: 12px;
                    }
                }
            }
    }
}
/* .download .download-form .download-right:last-child .download-info{
    opacity: 30%;
} */
.question{
    width: 100%;
    max-width: 958px;
    margin: 0 auto;
    /* margin-right: 549px; */
    margin-top: 20px;
    margin-bottom: 98px;
}
.question .question-form{
    background-image: url(../images/ask.png);
    background-repeat: no-repeat;
    /* height: 258px; */
    display: flex;
   
}
.question .question-form .feedback-left{
    width: 50%;
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
    text-align: end;
    padding-top: 56px;
}
.question .question-form .feedback-right{
    width: 50%;
    padding-top: 32px;
    padding-left: 114px;
    
}
.question .question-form .feedback-right input, .question .question-form .feedback-right textarea{ /* не понимаю зачем эти свойства*/
    width: 100%;
    border: none;
    background: $background_color;
    padding: 0;

}
.question .question-form .feedback-right input, .question .question-form .feedback-right textarea{
    margin: 0;
    padding-top:23px;
    border-bottom: solid 1px #EFEFEF;
    @include text_menu();
    
}
.question .question-form .feedback-right textarea{
    margin-bottom: 40px;
}
.question .question-form .feedback-right .button0{
    text-align: end;
}
.question .question-form .feedback-right .button0 input{
    border: none;
    text-align: end;
    padding: 0;
    @include button_text();
    color:$color_text;
    width: auto;
    background-color: $color_orange;
    padding: 13px 66px;
    
}


 
.last-container{
    background-color: #3D4F64;
}

.last-container .basement{
    display: flex;
    padding-top: 51px;
    width: 100%;
    color: #ffffff;
    flex-wrap: wrap;
    height: 301px;
}
.last-container{
    .basement{
        .logo2{
            width: 25%;
        }
        .goods{
            width: 25%;
        }
        .inform{
            width: 25%;
        }
        .contact{
            width: 25%;
        }
    }
}
.last-container .basement .logo2 a{
    padding-bottom: 24px;
    display: inline-block;
}
.last-container .basement .logo2 div{
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    
}
.last-container .basement .goods ul{
    list-style-type: none; /*почему появились диски?*/
}
.last-container .basement .goods ul li a{
    text-decoration: none;
    color:#ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.last-container .basement .goods ul li:first-child {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 7px;
    display: inline-block;
}
.last-container .basement .goods ul li:hover a{
    color:#FFC94F;
    text-decoration: underline;
}
.last-container .basement .inform ul{
    list-style-type: none; /*почему появились диски?*/
}
.last-container .basement .inform ul li a{
    text-decoration: none;
    color:#ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
}
.last-container .basement .contact ul{
    list-style-type: none; 
}
.last-container .basement .contact ul li a{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}
.last-container .basement .contact ul li:first-child{
    font-weight: 600;
}
.last-container .basement .contact ul li{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

}
.services{
    .accordion-item{
        margin-left: 130px;
        position: relative;
        
        &:first-child{
            &::before{
                content: url('../images/icon1.png');
                position: absolute;
                left:-100px;
                top:20px;
            }
        }
        &:nth-child(2){
            &::before{
                content: url('../images/icon2.png');
                position: absolute;
                left:-100px;
                top:20px;
            }
        }
        &:nth-child(3){
            &::before{
                content: url('../images/icon3.png');
                position: absolute;
                left:-100px;
                top:20px;
            }
        }
        &:nth-child(4){
            &::before{
                content: url('../images/icon4.png');
                position: absolute;
                left:-100px;
                top:20px;
            }
        }
        &:nth-child(5){
            &::before{
                content: url('../images/icon5.png');
                position: absolute;
                left:-100px;
                top:20px;
            }
        }
            .crest{
                background-color: #FCFCFC;
                font-weight: 700;
                font-size: 16px;
                line-height: 40px;
                padding-left: 0;/* не отрабатывает почему-то */
                
                &:not(.collapsed){
                   color: $color_text;
                   &::after{
                    transform: rotate(45deg);
                    }
                }
            }
        }
            
            .crest::after{
                background-image: url('../images/cres1.png');
                background-size: auto;
            }
            .color_boby{
                background-color: #FCFCFC;
            }
            .inside{
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            
            }

    
}  
#burger{
    display: none;
    i{
        display: block;
        width: 50px;
        height: 3px;
        margin: 5px;
        background-color: $color_orange;
    }
}
#close{
    display: none;
    right: 20px;
    position: fixed;
    z-index: 4;
    i{
        font-size: 30px;
        color: $color_orange;
    }

}


@media screen and (max-width: 1399.98px){
    
        .first-container{
            header{
                justify-content: space-between;
                .envelope{
                    span{
                        display: none;
                    }
                }
                .call{
                    padding: 13px 20px 14px 20px;
                }
            }
        }
    
    .center{
        width: 90%;
    }

    .second-container{
        .left-side{
            width: 50%;
            margin-left: 5%;
        }
    }
    .new__goods{
        .goods{
            width: 100%;
            .goods-example{
                position: relative;
                width: 32%;
                padding-bottom: 58px;
                .goods-bottom{
                    position: absolute;
                    bottom: 0;
                    .button3{
                        padding: 25px 27%;
                    }
                }
            }
        }
    }
    .catalog__main{
        .catalog__main-all{
            .catalog__main-left{
                .button2{
                    text-align: center;
                }
            }
        }
    }
    .download{
        background-position-x: 0;
        .download-form{
            .download-left{
                padding-right: 20px;
                width: 40%;
            }
        }
    }

}
@media screen and (max-width: 1199.98px){
.first-container{
    header{
        .call{
            padding: 0;
            border: none;
           
            img{
                padding: 0;
            }
            a{
                display: none;
            }
        }
    }
}
.second-container{
    .left-side{
        width: 40%;
    }
}
.catalog__main{
    .catalog__main-all{
        .catalog__main-left{
            width: 100%;
        }
        .catalog__main-right{
            p{
                display: flex;
                justify-content: space-between;
                width: 100%;
                a{
                    padding-left: 0;
                }
            }
        }
    }
}
.services{
    .accordion-item{
        margin-left: 100px;
        position: relative;
    }
}
.new__goods{
    .goods{
        .goods-example{
            width: 32%;
            
        }
    }
}

.question{
    width: 90%;
    .question-form{
        .feedback-left{
            width: 40%;
        }
        .feedback-right{
            padding-left: 50px;
            width: 60%;
        }
    }
}

}
@media screen and (max-width: 991.98px){
    .first-container{
        header{
            position: relative;
            .logo{
                padding: 0;
            }
            .menu{
                display: none;
                /* opacity: 0;
                bottom:-100%;
                transition: 1s ease-in-out; */
            }
            .show{
                justify-content: space-around;
                /* opacity: 1;
                transition: 1s ease-in-out;
                bottom: 0; */
                display: flex;
                position: fixed;
                width: 100%;
                text-align: center;
                background: #0C0537;
                top: 0;
                height: 70vh;
                z-index: 1;
                flex-direction: column;
                left: 0;
                /* padding-bottom: 20%;
                padding-top: 5%; */
                max-width: 100%;
                 li{
                    a{
                        line-height: 40px;
                        font-size: 16px;
                        font-weight: 700;
                     }
                    &:nth-child(7){
                        padding-top: 4%;
                        border-top: solid 1px $color_text;
                        width: 100%;
                    }
                } 
            } 
         
            .envelope_show{
                display: flex;
                width: 100%;
                z-index: 2;
                justify-content: center;
                top: 39%;
                padding-right: 0;
                span{
                    display: block;
                    margin-right: 0;
                }
            }
            
           /*  .call{
                display: none;
            } */
            .call_show{
                border: solid 1px $color_menu;
                padding: 13px 23px 14px 31px;
                display: flex;
                width: 100%;
                z-index: 3;
                justify-content: center;
                top: 43%;
                padding-left: 0;
                img{
                    padding-right: 12px;
                    padding-left: 29px;
                    object-fit: contain;
                }
                a{
                    display: block;
                }

            }
            #burger{
                display: block;
            }
        }
    }
    /* .center{
        width: 95%;
    } */
    .second-container{
        flex-wrap: wrap;
        .left-side{
            order: 1;
            width: 95%;
            margin: 0 auto;
            padding-top: 40px;
        }
        .right-side{
            width: 95%;
            margin: 0 auto;
            img{
                max-height: 400px;
            }
            .slash{
                display: none;
            }
            .test-prev{
                display: none;
            }
            .test-past{
                display: none;
            }
        }
    }
    .catalog__main{
        margin-top: 60px;
        h1{
            margin-bottom: 30px;
            &::before{
                display: none;
            }
        }
        .catalog__main-left{
            max-width: 100%;
            .button2{
                margin-bottom: 10px;
            }
            a{
                &:last-child{
                    margin-bottom: 30px;
                }
                
            }
        }
        .catalog__main-right{
            display: none;
        }
    }
    .services{
        h1{
            &::before{
                display: none;
            }
        }
        .accordion-item{
            border-bottom: none;
            .crest::after{
                display: none;
            
            }
        }
    }
    .new__goods{
        h1{
            &::before{
                display: none;
            }
        }
        .goods{
            .goods-example{
                width: 45%;
            }
        }
    }
    .download{
        background-image: none;
        margin-top: 50px;
        .download-form{
            flex-wrap: wrap;
            .download-left{
                width: 100%;
                padding-top: 25px;
                padding-bottom: 20px;
                font-size: 24px;
                font-weight: 800;
                line-height: 34px;
            }
            .download-right{
                padding: 0;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }
    }
    .question{
        .question-form{
            background-image: none;
            flex-wrap: wrap;
            width: 100%;
            .feedback-left{
                 width: 100%;
                 text-align: start;
            }
            .feedback-right{
                padding-top: 10px;
                width: 100%;
                padding-left: 0;
                .button0{
                    text-align: center;
                }
            }
        }

    }
    .last-container{
        position: relative;
        .basement{
            height: auto;
            .logo2{
                width: 50%;
            }
            .goods{
                width: 50%;
                padding-bottom: 30px;
            }
            .inform{
                width: 50%;
            }
            .contact{
                width: 50%;
            }
        }
    }
}
@media  screen and (max-width: 767.98px){
    .download{
       
        .download-form{
            
            .download-right{
                .download-file{
                    span{
                        display: none;
                    }
                }
            }
        }
    }
    .second-container{
        .right-side{
            img{
                max-height: 350px;
            }
        }
    }
    .new__goods{
        .goods{
            .goods-example{
                width: 48%;
                .goods-bottom{
                    .button3{
                        padding: 25px 25%;
                    }
                }
            }
        }
    }
}
@media  screen and (max-width: 575.98px){
    .second-container{
        .left-side{
            h1{
                font-size: 24px;
                line-height: 32px;
            }
        }
        .right-side{
            img{
                max-height: 275px;
            }
        }
    }
    .catalog__main{
        h1{
            font-size: 18px;
            line-height: 40px;
            margin-bottom: 25px;
        }
        .catalog__main-all{
            .catalog__main-left{
                .button2{
                    margin: 0;
                }
            }
        }
    }
    .services{
        h1{
            font-size: 18px;
            line-height: 40px;
            margin-bottom: 20px;
        }
        .accordion-item{
            margin-left: 75px;
            &:first-child{
                &::before{
                    left:-70px;
                }
            }
            &:nth-child(2){
                &::before{
                    left:-70px;
                }
            }
            &:nth-child(3){
                &::before{
                    left:-70px;
                }
            }
            &:nth-child(4){
                &::before{
                    left:-70px;
                    top:5px;
                }
            }
            &:nth-child(5){
                &::before{
                    left:-70px;
                }
            }
              
            .crest{
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
    .new__goods{
        h1{
            font-size: 18px;
            line-height: 40px;
            margin-bottom: 20px;
        }
        .goods{
            .goods-example{
                width: 100%;
            }
        }
    }
    .download{
        .download-form{
            .download-left{
                font-size: 18px;
                line-height: 40px;
            }
            .download-right{
                font-size: 14px;
                line-height: 26px;
                .download-info{
                    border-bottom: none;
                }
                .download-file{
                    border-bottom: none;
                }
            }
        }

    }
    .last-container{
        padding-bottom: 65px;
        .basement{
            justify-content: space-between;
            .logo2{
                width: 100%;
                div{
                    position: absolute;
                    bottom: 15px;
                    text-align: center;
                    width: 100%;
                    border-top: solid 1px;
                    padding-top: 10px;
                }
            }
            .goods{
                width: 45%;
            }
            .inform{
                width: 45%;
            }
            .contact{
                width: 100%;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li{
                        &:first-child {
                            width: 100%;
                        }
                        &:nth-child(2){
                            width: 50%;
                        }
                           
                    &:nth-child(3) {
                        width: 50%;
                        text-align: end;
                    }
                    &:last-child {
                        width: 100%;
                        text-align: center;
                    }
                }
                }
            }
        }
    }
    .question{
        .question-form{
            .feedback-left{
                font-size: 18px;
                line-height: 40px;
            }
            .feedback-right{
                .button0{
                    background-color: $color_orange;
                }
            }
        }
    }
}
@media  screen and (max-width: 375px){
    .second-container{
        .right-side{
            img{
                max-height: 185px;
            }
        }
    }
   
}

