/*RESET.CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END RESET.CSS*/
body {
  font-family: "Montserrat", sans-serif;
  color: #535353;
  background-color: #FCFCFC;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1285px;
  width: 100%;
  margin: 0 auto;
}

.white {
  background-color: #ffffff;
}

.white .white-height {
  height: 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}

.white .white-height a {
  text-decoration: none;
  color: #7C7C7C;
}

.new__goods {
  margin-top: 42px;
}

.new__goods h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  padding-bottom: 22px;
}

.new__goods .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 32px;
}

.new__goods .categories a {
  text-decoration: none;
  color: #535353;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 10px 23px 10px 20px;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  /* &:last-child{
                margin-top: 10px;
            } */
}

.new__goods .categories a:hover {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  color: #ffffff;
  background-color: #3D4F64;
}

.new__goods .goods-flex .filtr {
  width: 100%;
  max-width: 302px;
}

.new__goods .goods-flex .filtr form {
  width: 100%;
  background-color: #ffffff;
}

.new__goods .goods-flex .filtr form .filtr-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new__goods .goods-flex .filtr form .filtr-flex h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.new__goods .goods-flex .filtr form .filtr-flex span {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}

.new__goods .goods-flex .filtr form p {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.new__goods h1 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.new__goods .goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 21px;
}

.new__goods .goods h1 {
  width: 100%;
}

.new__goods .goods .page_number {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.new__goods .goods .goods-example {
  width: 302px;
  background-color: #ffffff;
  border: solid 1px #EAEAEA;
  margin-bottom: 35px;
}

.new__goods .goods .goods-example:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #FFC94F4D;
          box-shadow: 0px 0px 30px 0px #FFC94F4D;
}

.new__goods .goods .goods-example:hover .summa {
  color: #FFC94F;
  background-image: url(./images/rublyellow.png);
}

.new__goods .goods .goods-example:hover .goods-bottom {
  background-color: #EFEFEF;
}

.new__goods .goods .goods-example .day {
  padding: 3px 14px;
  background-color: #FFC94F;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.new__goods .goods .goods-example .first-pic {
  margin-right: 26px;
  margin-left: 20px;
}

.new__goods .goods .goods-example .first-pic img {
  max-width: 100%;
  /* height: auto; */
  display: inline-block;
  margin-top: 52px;
  margin-bottom: 44px;
  height: 181px;
  -o-object-fit: contain;
     object-fit: contain;
}

.new__goods .goods h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding-bottom: 13px;
}

.new__goods .goods .goods-example li {
  list-style: disc;
  color: #FFC94F;
}

.new__goods .goods .goods-example li span {
  color: #535353;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.new__goods .goods .goods-example .summa {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  background-image: url(./images/rubl.png);
  background-repeat: no-repeat;
  background-position: right center;
  width: 85px;
  margin-top: 16px;
  margin-bottom: 58px;
}

.new__goods .goods .goods-example .goods-bottom {
  width: 100%;
  margin: 0;
  border-top: solid 1px #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__goods .goods .goods-example .goods-bottom .button3 {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 25px 76px;
  font-weight: 600;
  background-color: #3D4F64;
}

.new__goods .goods .goods-example .goods-bottom .plus_goods {
  width: 100%;
  text-align: center;
}

.new__goods .goods .goods-example .goods-bottom img {
  margin: 0;
}

.new__goods .goods .goods-example .second-pic {
  margin-left: 21px;
  margin-right: 20px;
}

.new__goods .goods .goods-example .second-pic img {
  width: 100%;
  display: inline-block;
  height: 181px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 52px;
  margin-bottom: 44px;
}

.new__goods .goods-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.page_number .navi {
  width: 100%;
  max-width: 168px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.page_number .navi .navi_page {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}

.page_number .navi .navi_page .navi_a {
  padding: 7px 7px 7px 9px;
  color: #464855;
}

.page_number .navi .navi_page .navi_a:active {
  background-color: #FFC94F;
  font-weight: 700;
  color: #535353;
}

@media screen and (max-width: 1399.98px) {
  .new__goods .goods .goods-example {
    position: relative;
    width: 32%;
    padding-bottom: 58px;
  }
  .new__goods .goods .goods-example .goods-bottom {
    position: absolute;
    bottom: 0;
  }
  .new__goods .goods .goods-example .goods-bottom .button3 {
    padding: 25px 26%;
  }
}

@media screen and (max-width: 1199.98px) {
  .new__goods .goods-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .new__goods .goods-flex .filtr {
    width: 50%;
    max-width: 100%;
  }
  .new__goods .goods-flex .filtr form {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 991.98px) {
  .new__goods .goods .goods-example {
    width: 45%;
  }
}

@media screen and (max-width: 767.98px) {
  .new__goods .goods-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .new__goods .goods-flex .filtr {
    width: 100%;
  }
  .new__goods .goods-flex .goods .goods-example {
    width: 48%;
  }
  .new__goods .goods-flex .goods .goods-example .goods-bottom .button3 {
    padding: 25px 24%;
  }
}

@media screen and (max-width: 575.98px) {
  .new__goods .goods-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .new__goods .goods-flex .filtr {
    display: none;
  }
  .new__goods .goods-flex .goods .goods-example {
    width: 100%;
  }
}
/*# sourceMappingURL=style3.css.map */