@charset "UTF-8";
/*RESET.CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END RESET.CSS*/
body {
  font-family: "Montserrat", sans-serif;
  color: #535353;
  background-color: #FCFCFC;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1285px;
  width: 100%;
  margin: 0 auto;
}

.white {
  background-color: #ffffff;
}

.white .white-height {
  height: 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}

.white .white-height a {
  text-decoration: none;
  color: #7C7C7C;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products .page_number {
  padding-right: 25px;
}

.products .page_number .navi {
  height: 516px;
  width: 100%;
  max-width: 82px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products .page_number .navi .navi_page {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}

.products .page_number .navi .navi_page .navi_a {
  width: 100%;
  padding: 0;
  border: none;
  /* padding: 7px 7px 7px 9px; */
  /* color:#464855; */
  margin: 0;
  display: block;
  text-align: center;
  color: #FFC94F;
}

.products .page_number .navi .navi_page .navi_a span img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.products .page_number .navi .navi_page .navi_a img {
  max-width: 82px;
  -o-object-fit: contain;
     object-fit: contain;
}

.products .page_number .navi .navi_page .navi_a:active {
  border: solid 1px #FFC94F;
}

.products .main__photo {
  width: 100%;
  max-width: 536px;
  text-align: center;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .specification {
  padding-left: 42px;
}

.products .specification div:nth-child(6) {
  border-bottom: 1px solid #EDEDED;
}

.products .specification h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  width: 100%;
  padding-bottom: 20px;
  /* высчитала вручную */
  border-bottom: 1px solid #EDEDED;
}

.products .specification .spec_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  width: 100%;
  max-width: 444px;
}

.products .specification .spec_descr p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  width: 100%;
  max-width: 153px;
}

.products .specification .spec_descr p:nth-child(4) {
  line-height: 20px;
}

.products .specification .spec_descr form .first {
  width: 45px;
}

.products .specification .spec_descr form .second {
  width: 80px;
}

.products .specification .spec_descr form .spec {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #8C8C8C;
  border: solid #8C8C8C;
  background-color: #ffffff;
  margin-bottom: 12px;
  margin-right: 9px;
}

.products .specification .spec_descr form .spec:hover {
  border-color: #FFC94F;
  color: #535353;
  font-weight: 500;
}

.products .specification .spec_descr form .spec:active {
  color: #535353;
  font-weight: 500;
}

.products .specification .button {
  margin-top: 20px;
}

.products .specification .button a {
  color: #3D4F64;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding-right: 30px;
  padding-left: 25px;
  background-color: #FFC94F;
  display: inline-block;
}

.goods-descr {
  margin-top: 44px;
}

.goods-descr .goods-menu .menu-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*  font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
            align-items: center; */
  border-bottom: solid #EDEDED;
}

.goods-descr .goods-menu .menu-pages a {
  text-decoration: none;
  color: #535353;
  padding: 6px 35px;
  height: 100%;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.goods-descr .goods-menu .menu-pages a:hover {
  color: #ffffff;
  background-color: #3D4F64;
  font-weight: 700;
}

.goods-descr .goods-menu p {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin-top: 20px;
}

.goods-descr .goods-menu .goods-features {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.goods-descr .goods-menu .goods-features li {
  font-weight: 300;
  list-style: disc;
  color: #FFC94F;
}

.goods-descr .goods-menu .goods-features li span {
  color: #535353;
}

.table-descr {
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 14px;
}

.table-descr p {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  padding: 13px 0 9px 0;
}

.table-descr p span {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  padding-left: 20px;
}

.table-descr .table thead {
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
  color: #535353;
  background-color: #FCFCFC;
}

.table-descr .table thead th {
  vertical-align: middle;
}

.table-descr .table tbody tr {
  border-bottom: 1px solid #EDEDED;
}

.table-descr .table tbody tr th {
  color: #535353;
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
}

.table-descr .table tbody tr td {
  vertical-align: middle;
  color: #8C8C8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.table-descr .table tbody tr td:last-child {
  text-align: center;
  /*  background-image: url('../images/plus_white.svg');
                        background-repeat: no-repeat;
                        background-position: center; */
  color: #ffffff;
}

.table-descr .table tbody tr td:last-child i {
  background-color: #535353;
  display: inline-block;
  padding: 6px 6px;
  border-radius: 50%;
  font-size: 11px;
}

.table-descr .table tbody tr td:last-child:hover i {
  background-color: #FFC94F;
  color: #535353;
}

.table-descr a {
  line-height: 17px;
  font-size: 14px;
  font-weight: 500;
  color: #FFC94F;
}

@media screen and (max-width: 1399.98px) {
  .center {
    width: 90%;
  }
  .products .page_number nav {
    height: 100%;
  }
  .products .page_number nav .navi {
    height: 100%;
  }
  .goods-descr .goods-menu .menu-pages a {
    line-height: 25px;
  }
  .table-descr .table thead {
    font-size: 11px;
  }
  .goods-descr .goods-menu .menu-pages {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .goods-descr .goods-menu .menu-pages li a {
    padding: 6px 5px;
  }
}

@media screen and (max-width: 1199.98px) {
  .products {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .products .page_number {
    padding-top: 25px;
    padding-right: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .products .page_number .navi {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    max-width: 100%;
    width: 100%;
  }
  .products .page_number .navi .arrow {
    display: none;
  }
  .products .main__photo {
    width: 100%;
    max-width: 100%;
  }
  .products .specification {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding-top: 30px;
    padding-left: 0;
  }
  .products .specification .spec_descr {
    max-width: 100%;
  }
  .table-descr .table thead {
    font-size: 9px;
    font-weight: 600;
  }
  .table-descr .table tbody tr th {
    line-height: 14px;
    font-size: 9px;
  }
  .table-descr .table tbody tr td {
    font-size: 10px;
    line-height: 15px;
  }
}

@media screen and (max-width: 991.98px) {
  .goods-descr .goods-menu .menu-pages {
    display: block;
    border-bottom: none;
  }
  .goods-descr .goods-menu .menu-pages li {
    border-bottom: solid #EDEDED;
  }
  .goods-descr .goods-menu p {
    display: none;
  }
  .goods-descr .goods-menu .goods-features {
    display: none;
  }
  .table-descr p span {
    display: none;
  }
  .table-descr .table {
    display: none;
  }
  .table-descr a {
    display: none;
  }
}
/*# sourceMappingURL=style4.css.map */