/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/*END RESET.CSS*/
$color_text: #535353;
$background_color: #FCFCFC;
$font: 'Montserrat', sans-serif;
$color_menu: #ffffff;
$color_orange: #FFC94F;
@mixin a_menu($color_menu){
    text-decoration: none;
    color: $color_menu;
    
}
@mixin a_button($color_text){
    text-decoration: none;
    color: $color_text;
}
@mixin text_menu() {
    line-height: 17px;
    font-size: 14px;
    font-weight: 500;
}
body{
    font-family: $font;
    color: $color_text;
    background-color: $background_color;
}
.wrapper{
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}
.center{
    max-width: 1285px;
    width: 100%;
    margin: 0 auto;
 } 
 .new__goods{
    margin-top: 90px;
}
.new__goods .goods{
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.new__goods .goods .goods-example{
    width: 302px;
    height: 596px;
    background-color: $color_menu;
    border:solid 1px #EAEAEA;
    

}
.new__goods .goods .goods-example:hover{
    box-shadow: 0px 0px 30px 0px #FFC94F4D;
}

.new__goods .goods .goods-example:hover .summa{
    color:$color_orange;
    background-image: url(./images/rublyellow.png);
}
.new__goods .goods .goods-example:hover .goods-bottom{
    background-color: #EFEFEF;
    
}
.new__goods .goods .goods-example .day{
    padding: 3px 14px;
    background-color: $color_orange;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

}
.new__goods .goods .goods-example .first-pic{
    margin-right: 26px;
    margin-left: 20px;
}
.new__goods .goods .goods-example .first-pic img{
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 88px;
    margin-bottom: 64px;

}
.new__goods .goods h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 13px;
}
.new__goods .goods .goods-example li{
    list-style: disc;
    color: $color_orange;
} 
.new__goods .goods .goods-example li span{
    color: $color_text;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;

}
.new__goods .goods .goods-example .summa{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    background-image: url(./images/rubl.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 85px;
    margin-top: 16px;
    margin-bottom: 58px;
    
}
.new__goods .goods .goods-example .goods-bottom{
    width: 100%;
    margin: 0;
    border-top:solid 1px #EAEAEA;
    display: flex;
    align-items: center;
}
.new__goods .goods .goods-example .goods-bottom .button3{
    text-decoration: none;
    color:$color_menu;
    font-size: 14px;
    padding:25px 76px;
    font-weight: 600;
    background-color: #3D4F64;
    

}
.new__goods .goods .goods-example .goods-bottom .plus_goods{
    width: 100%;
    text-align: center;
}
.new__goods .goods .goods-example .goods-bottom img{
    margin: 0;
    
}
.new__goods .goods .goods-example .second-pic{
    margin-left: 21px;
    margin-right: 20px;
}
.new__goods .goods .goods-example .second-pic img{
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 23px;
    margin-bottom: 44px;
    max-height: 181px;
    padding-left: 70px;
}
.new__goods .goods-flex{
    display: flex;
} 